---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <p class="kari">
        <a  class="diaryname" href="{{site.baseurl}}/">日記</a></p>
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Site map</h3>
      <ul>
        <li><a href="https://liqrase.github.io/cafe/" target="_self"><i class="fa-solid fa-house" aria-hidden="true"></i></a></li>
        <li><a href="https://liqrase.github.io/cafe/profile" target="_self"><i class="fa-solid fa-address-card"></i></a></li>
        <li><a href="https://liqrase.github.io/diary-1" target="_self"><i class="fa-solid fa-square-binary"></i></a></li>
        <li><a href="https://liqrase.github.io/diary-2" target="_self"><i class="fa-solid fa-train"></i></a></li>
        <li><a href="https://jp.finalfantasyxiv.com/lodestone/character/49115670/ " target="_blank"><i class="fa-solid fa-hat-wizard" aria-hidden="true"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
